version: '3.8'

services:
  app:
    build: .
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
      - MONGO_URI=mongodb://mongo:27017/mahasiswa_db
      - JWT_SECRET=rahasia_negara_api_mahasiswa_backend_2024
      # Replace with valid key or set in .env file
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
